extends layout.pug

block content
  .wrapper.wrapper--nobackground
    include ./partials/header.pug
    main.main-page.main-page--padding
      section.main-page__category.category
        h1.category__title Категории
        .category__add-form
          form(action='#' method='POST')
            input#add-form-add-category(type='text' name='add-category' placeholder='Новая категория')
            label(for='add-form-add-category')
              span.visually-hidden Добавить категорию
            button.category__button.button.button--category(type='submit') Добавить
        ul.category__list
          each category, index in categories
            li.category__list-item
              form(action='#' method='POST')
                input#modify-form-category-1(type='text' name=`category-${index}` value=category.name)
                label(for=`modify-form-category-${index}`)
                  span.visually-hidden Редактировать категорию
                button.category__button.button.button--category(type='submit') Сохранить
                button.category__button.button.button--category(type='button') Удалить


