extends layout.pug

block content
  .wrapper
    include ./partials/header.pug
    main.main-page
      h1.visually-hidden Главная страница личного блога Типотека
      p.main-page__greeting.title.title--big.

        Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏

      .main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!


