extends layout.pug

block content
  .wrapper
    header.header
      a.header__logo.logo(href='#')
        img(src='img/icons/logo.svg' alt='логотип Тайпотеки')
      a.header__registration(href='#') Регистрация
      a.header__enter(href='#') Вход с паролем
      a.header__search.button.button--search(href='#' aria-label='поиск по сайту')
    main.main-page
      h1.visually-hidden Главная страница личного блога Типотека
      p.main-page__greeting.title.title--big.

        Это приветственный текст, который владелец блога может выбрать, чтобы описать себя 👏

      .main-page__empty-wrapper
        p.main-page__empty-text Здесь пока пусто!


