extends layout.pug

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article in articles
          li.notes__list-item
            +formatDate(article.createdAt,'notes__item-time')
            a.notes__item-text(href=`/articles/${article.id}`) #{article.title}
            a.notes__edit-button(href=`/articles/edit/${article.id}`)
            form(action=`/my?articleId=${article.id}` method='POST')
              button.notes__button.button.button--close-item(type='submit' name="action" value="delete")
                span.visually-hidden Закрыть строку списка


