extends layout.pug

block content
  .wrapper.wrapper--nobackground
    include ./partials/navigation-header.pug
    main.main-page.main-page--padding
      section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
          each article in articles
            li.notes__list-item
              +formatDate(article.createdDate,'notes__item-time')
              a.notes__item-text(href='#') #{article.title}
              button.notes__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка


