
  body
    .wrapper
      extends ./partials/unauth-header.pug
      main
        h1.visually-hidden Регистрация пользователя
        section
          .popup.popup--registration.popup--anti
            a.popup__button.button.button--popup-close(aria-label='Закрыть окно') Закрыть окно
            h2.popup__title Регистрация
            .popup__form.popup__form--active.form.form--register
              form(action='#' method='get')
                .form__field
                  label
                    input(type='email' name='email' placeholder='Электронная почта' required)
                .form__field
                  label
                    input(type='text' name='name' placeholder='Имя' required)
                .form__field
                  label
                    input(type='text' name='surname' placeholder='Фамилия')
                .form__field
                  label
                    input(type='password' name='password' placeholder='Пароль' required)
                .form__field
                  label
                    input(type='password' name='repeat-password' placeholder='Повтор пароля' required)
                .form__validation-error
                  p.form__error-message При регистрации произошли ошибки:
                  ul.form__errors
                    li.form__error Пароль не может состоять из двух букв
                    li.form__error Фамилия не должна быть смешной
                .form__image-loader
                  a.form__avatar.avatar
                    img(src='img/icons/smile.svg' alt='аватар пользователя')
                  label
                    input.visually-hidden(type='file' name='upload')
                    | Загрузить фото профиля
                button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться


