extends layout.pug

block content
  .wrapper
    include ./partials/header.pug
    main
      section.search-page
        .search-page__wrapper
          h1 Поиск
          .search.search-page__form
            form(action='/search' method='get' autocomplete="off")
              label
                input(type='text' name='query' placeholder='Что ищем?')
              button.search__button.button.button--transparent(type='submit') Найти


