extends layout.pug

block content
  .wrapper
    include ./partials/header.pug
    main
      h1.visually-hidden Регистрация пользователя
      section
        .popup.popup--registration.popup--anti
          a.popup__button.button.button--popup-close(aria-label='Закрыть окно') Закрыть окно
          h2.popup__title Регистрация
          .popup__form.popup__form--active.form.form--register
            form(action='/register' method='POST' enctype="multipart/form-data")
              .form__field
                label
                  input(type='email' name='user-email' placeholder='Электронная почта' required)
              .form__field
                label
                  input(type='text' name='user-first-name' placeholder='Имя' required)
              .form__field
                label
                  input(type='text' name='user-last-name' placeholder='Фамилия' required)
              .form__field
                label
                  input(type='password' name='user-password' placeholder='Пароль' required)
              .form__field
                label
                  input(type='password' name='user-password-again' placeholder='Повтор пароля' required)
              if(validationMessages)
                .form__validation-error
                  p.form__error-message При регистрации произошли ошибки:
                  ul.form__errors
                  each message in validationMessages
                    li.form__error #{message}
              .form__image-loader
                a.form__avatar.avatar
                  img(src='img/icons/smile.svg' alt='аватар пользователя')
                label
                  input.visually-hidden(type='file' name='avatar')
                  | Загрузить фото профиля
              button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться


